<h2>Настройки</h2>
<a class="nav-link text-dark" [routerLink]="['/data-sources']">
  <mat-icon aria-hidden="false" aria-label="Источники данных">swap_horiz</mat-icon>
  Источники данных
</a>
<ul>
  <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-dark" [routerLink]="['/parameters']">
      <mat-icon aria-hidden="false" aria-label="Параметры">settings</mat-icon>
    </a>
  </li>
  <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-dark" [routerLink]="['/add-prm-dlg']">
      <mat-icon aria-hidden="false" aria-label="Параметры">settings</mat-icon>
      Добавить параметр
    </a>
  </li>
</ul>

<ol>
  <li>
    <mat-form-field appearance="fill">
      <mat-label>What's your name?</mat-label>
      <input matInput [(ngModel)]="name">
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()">Pick one</button>
  </li>
  <li *ngIf="animal">
    You chose: <i>{{animal}}</i>
  </li>
</ol>
