<h2>Настройки</h2>
<a class="nav-link text-dark" [routerLink]="['/data-sources']">
  <mat-icon aria-hidden="false" aria-label="Источники данных">swap_calls</mat-icon>
  Источники данных
</a>
<a class="nav-link text-dark" [routerLink]="['/departments']">
  <mat-icon aria-hidden="false" aria-label="Подразделения">group</mat-icon>
  Подразделения
</a>
<a class="nav-link text-dark" [routerLink]="['/input-forms']">
  <mat-icon aria-hidden="false" aria-label="Формы">content_copy</mat-icon>
  Формы
</a>

<!--
<ol>
  <li>
    <mat-form-field appearance="fill">
      <mat-label>What's your name?</mat-label>
      <input matInput [(ngModel)]="name">
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()">Pick one</button>
  </li>
  <li *ngIf="animal">
    You chose: <i>{{animal}}</i>
  </li>
</ol>
-->
