<h2>Исходные документы</h2>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
  <!-- This is the tree node template for leaf nodes -->
  <!-- There is inline padding applied to this node using styles.
    This padding value depends on the mat-icon-button width. -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    <mat-icon aria-hidden="false" class="grey-icon" aria-label="Документ">assignment</mat-icon>
    <div class="div_table_cell" style="width: 50%;">{{ node.name }}</div>
    <div class="div_table_cell" style="width: 20%;">{{this.datepipe.transform(node.last_edit_at, 'dd.MM.yyyy')}}</div>
    <div class="div_table_cell" style="width: 30%;">{{ node.last_edit_by }}</div>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <div class="mat-tree-node">
      <button mat-icon-button matTreeNodeToggle style="outline:none; border:0px solid white; background-color:white"
              [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <mat-icon aria-hidden="false" aria-label="Документы">folder</mat-icon>
      <div class="div_table_cell" style="width: 50%;">{{ node.name }}</div>
      <div class="div_table_cell" style="width: 20%;">{{this.datepipe.transform(node.last_edit_at, 'dd.MM.yyyy')}}</div>
      <div class="div_table_cell" style="width: 30%;">{{ node.last_edit_by }}</div>
    </div>
    <!-- There is inline padding applied to this div using styles.
        This padding value depends on the mat-icon-button width.  -->
    <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
         role="group">
      <ng-container matTreeNodeOutlet>
      </ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>
