<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Технический отчет ЧЦЗ</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/schedule']">
              <mat-icon aria-hidden="false" aria-label="График">schedule</mat-icon>
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/sources']">
              <mat-icon aria-hidden="false" aria-label="Данные">my_library_books</mat-icon>
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/reports']">
              <mat-icon aria-hidden="false" aria-label="Отчеты">business</mat-icon>
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/report']">
              <mat-icon aria-hidden="false" aria-label="Отчет">insert_drive_file</mat-icon>
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/extraction']">
              <mat-icon aria-hidden="false" aria-label="Извлечение">call_split</mat-icon>
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/print']">
              <mat-icon aria-hidden="false" aria-label="Печать">print</mat-icon>
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/settings']">
              <mat-icon aria-hidden="false" aria-label="Настройки">settings</mat-icon>
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/help']">
              <mat-icon aria-hidden="false" aria-label="Помощь">help_outline</mat-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
